.group-progress {
  display: flex;
  align-items: center;
  align-content: space-between;
  width: 80%;
}

.group-title {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  h1 {
    margin-bottom: 0;
  }
  h2 {
    margin-bottom: 0;
  }
}

.progress-bars {
  margin-left: 5%;
}

#add {
  display: flex;
  justify-content: center;
}