@import './helper_components/ColourPalette.scss';

.top-container {
  position: relative;
  img {
    width: 75%;
  }
  .group-title {
    position: absolute;
    top: 8px;
    left: 16px;
    color: black;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    opacity: 0.7;
  }

  .group-details {
    display: flex;
    flex-direction: row;
    margin: 5%;
    position: absolute;
    top: 18px;
    left: 16px;
    background-color: white;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.image-and-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  .avatar-img {
    border-radius: 100px;
  }
  .name-and-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    h4 {
      margin: 0;
      margin-left: 50px;
    }
    .whole-bar {
    margin: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
      .bar {
          height: 20px;
          border-radius: 7px;
          margin: 10px;
          margin-left: 0;
          background-color: $secondary-teal;
          color: black;
          margin-top: 0;
        }
        .barText {
          font-weight: bolder;
          color: black;
        }
    }
  }
}


#add {
  display: flex;
  justify-content: center;
  Menu {
    display: flex;
    justify-content: flex-end;
  }
}