@import './helper_components/ColourPalette.scss';

.top-container {
  position: relative;
  display: flex;
  justify-content: center;
  img {
    width: 75%;
    border-radius: 10px;
    margin: 5%;
  }
  .text {
    background-color: white;
    position: absolute;
    top: 13%;
    left: 15%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 5px;
    opacity: 0.7;
    .group-title {
      margin: 0;
      font-size: 4em;
    }

    .group-details {
      margin-top: 0;
      display: flex;
      flex-direction: row;
      h5 {
        margin-top: 0;
        font-weight: normal;
      }
      #date {
        font-weight: bold;
      }
    }
  }
}


.bottom-container {
  margin-left: 10%;
  .image-and-bar {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    .avatar-img {
      border-radius: 100px;
      height: 100px;
      width: 100px;
    }
    .name-and-bar {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 5%;
      h4 {
        margin: 0;
        margin-left: 50px;
      }
      .whole-bar {
      margin: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 0;
        .bar {
            height: 20px;
            border-radius: 7px;
            margin: 10px;
            margin-left: 0;
            background-color: $secondary-teal;
            color: black;
            margin-top: 0;
          }
          .barText {
            font-weight: bolder;
            color: black;
          }
      }
    }
  }


  #add {
    display: flex;
    justify-content: center;
    // color: $primaryDark-teal;
    Menu {
      display: flex;
      justify-content: flex-end;
    }
  }
}