@import './helper_components/ColourPalette.scss';

.group-title {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  h1 {
    margin-bottom: 0;
  }
  h2 {
    margin-bottom: 0;
  }
  p {
    margin: 0;
  }
}

.group-titles {
  display: flex;
  align-items: center;
  align-content: space-between;
  width: 80%;
}
.image-and-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  .avatar-img {
    border-radius: 100px;
  }
 .bar {
    margin: 50px;
  }
}


#add {
  display: flex;
  justify-content: center;
  Menu {
    display: flex;
    justify-content: flex-end;
  }
}