@import './helper_components/ColourPalette.scss';

.trips-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .trip-block {
        display: flex;
        flex-direction: row;
        background-color: $secondary-sand;
        border-radius: 5px;
        border: 0 0 5px 5px solid;
        // box-shadow: 5px 5px 5px lightgrey;
        box-shadow: 5px 5px 5px rgb(196, 195, 195);
        padding: 10px;
        padding-right: 20px;
        padding-left: 20px;
        background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
        margin-bottom: 25px;
        &:hover {
          cursor: pointer;
          box-shadow: 5px 5px 5px rgb(95, 95, 95);
        }
    }
    .text-and-heading {
        text-align: left;
        display: flex;
        flex-direction: column;
        max-width: 450px;
        max-height: 450px;
        min-height: 300px;;
        min-width: 450px;
        margin-right: 2%;
        // text-decoration: none;
        h3 {
            margin: 0;
        }
    }
    img {
        max-width: 450px;
        max-height: 450px;
        min-height: 300px;;
        min-width: 450px;
        margin-right: 10px;
    }
    &--loading-img {
      border-radius: 100%;
    }
    &--load-more-arrow {
      height: 70px;
      width: 80px;
    }
}

.App {
    
    Button {
        color: white;
        background-color: $primaryDark-teal;
    }
    .load-more {
        h3 {
            margin-bottom: 0;
        }
        :hover {
            cursor: pointer;
        }
    }
}