@import './helper_components/ColourPalette.scss';

.trips-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    :hover {
        cursor: pointer;
    }
    .trip-block {
        display: flex;
        flex-direction: row;
    }
    .text-and-heading {
        text-align: left;
        display: flex;
        flex-direction: column;
        max-width: 450px;
        max-height: 450px;
        min-height: 300px;;
        min-width: 450px;
        margin-right: 2%;
        h3 {
            margin: 0;
        }
    }
    img {
        max-width: 450px;
        max-height: 450px;
        min-height: 300px;;
        min-width: 450px;
    }
    &--loading-img {
      border-radius: 100%;
    }
    &--load-more-arrow {
      height: 70px;
      width: 80px;
    }
}

.App {
    
    Button {
        color: white;
        background-color: $primaryDark-teal;
    }
    .load-more {
        h3 {
            margin-bottom: 0;
        }
        :hover {
            cursor: pointer;
        }
    }
}