.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #9572e7;
}

.login-trips {
  display: flex;
  flex-direction: row;
}
