@import './helper_components/ColourPalette.scss';

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-teal;
  height: 50px;
}

.login-trips {
  display: flex;
  flex-direction: row;
}
