@import './helper_components/ColourPalette.scss';

.math {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.loaded-img {
  height: 400px;
  width: 300px;
  margin-left: 45px;
}