@import './helper_components/ColourPalette.scss';

.all {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

img {
    max-width: 100%;
    max-height:50%;
}

.text-and-price {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .text-and-heading {
        text-align: left;
        max-width: 450px;
        max-height: 450px;
        margin: 50px;
    }
    .price-card {
        background-color: blueviolet;
        min-width:300px;
        min-height:300px;
        margin: 100px;
        text-align: center;
        // align-items: flex-end;
        // justify-content: center;
        Button {
            background-color: green;
        }
    }
}

.dialog-actions {
    text-align: center;
    margin: 50px;
    #start {
        background-color: green;
    }
}