@import './helper_components/ColourPalette.scss';

.user-page {
  h2, h4 {
    margin: 0;
  }
  .user-display {
    column-count: 2;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
  }

  .user-avatar-info {
    flex-direction: column;
    width: 30%;
    display: flex;
    align-items: center;
    margin-right: 5%;
    // max-width: 375px;

    .avatar {
      width: 10em;
      height: 10em;
      padding: 6em;
    }
    .username {
      align-content: center;
    }

    .trips-container {
      width: 60%;
    }
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  .header-location {
    display: flex;
    h5 {
      margin-left: 1em;
    }
    .friend-avatar {
      width: 2em;
      height: 2em;
      margin-left: 1em;
      border: 2px solid rgb(85, 21, 114);
    }
  }
}

.trips-info {
  width: fill;
  .footer-container {
    display: flex;
    justify-content: space-between;
  }

  .trips-container {
    margin-right: 6em;
  }

  .trip-description {
    margin-top: 1em;
  }
}
