// .trip-container {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   .text-and-heading {
//     text-align: left;
//     max-width: 450px;
//     max-height: 450px;
//   }
//   img {
//     max-width: 450px;
//     max-height: 450px;
//   }
// }
.user-page {
  background-color: rgb(243, 194, 243);
  .user-display {
    column-count: 2;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
  }

  .user-avatar-info {
    flex-direction: column;
    width: 50%;
    display: flex;
    align-items: center;
    max-width: 375px;

    .avatar {
      width: 10em;
      height: 10em;
      padding: 6em;
    }
    .username {
      align-content: center;
    }

    .trips-container {
      width: 50%;
    }
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  .header-location {
    display: flex;
    h5 {
      margin-left: 1em;
    }
    .friend-avatar {
      width: 2em;
      height: 2em;
      margin-left: 1em;
      border: 2px solid rgb(85, 21, 114);
    }
  }
}

.trips-info {
  width: fill;
  .footer-container {
    display: flex;
    justify-content: space-between;
  }

  .trips-container {
    margin-right: 6em;
  }

  .trip-description {
    margin-top: 1em;
  }
}
