@import "./helper_components/ColourPalette.scss";

body {
  background-color: $neutral-offWhite;
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
}

.user-page {
  column-count: 2;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  background-color: $neutral-offWhite;
  // background-image: url("https://www.transparenttextures.com/patterns/paper-fibers.png");
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
  h2,
  h4 {
    margin: 0;
  }

  .user-avatar-info {
    flex-direction: column;
    width: 30%;
    display: flex;
    align-items: center;
    margin-right: 5%;

    .avatar {
      width: 10em;
      height: 10em;
      padding: 6em;
    }
    .username {
      align-content: center;
    }
  }

  .trips-info {
    width: fill;
    .single-trip {
      background-color: $secondary-sand;
      border-radius: 5px;
      border: 0 0 5px 5px solid;
      // box-shadow: 5px 5px 5px lightgrey;
      box-shadow: 5px 5px 5px rgb(196, 195, 195);
      padding: 10px;
      padding-right: 20px;
      padding-left: 20px;
      background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
      margin-bottom: 25px;

      .single-trip-title {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        h2 {
          margin-right: 20px;
        }
      }

      Button {
        margin-bottom: 10px;
        background-color: $primaryDark-teal;
      }

      .whole-bar {
        display: flex;
        flex-direction: row;
        align-items: center;

        .bar {
          height: 20px;
          border-radius: 7px;
          margin: 10px;
          margin-left: 0;
          background-color: $secondary-teal;
          color: black;
          //change color
        }

        .barText {
          font-weight: bolder;
          color: black;
        }
      }

      .footer-container {
        display: flex;
        justify-content: space-between;
      }

      .trip-description {
        margin-top: 1em;
      }
    }
  }

  .header-container {
    display: flex;
    justify-content: space-between;

    .header-location {
      display: flex;

      h5 {
        margin-left: 1em;
      }

      .friend-avatar {
        width: 2em;
        height: 2em;
        margin-left: 1em;
        border-radius: 20px;
      }
    }
  }
}
