//colour palette for the site, use these variables so any changes later are made site wide
$primary-teal: #60BFBF;
$primaryDark-teal: #32838C;

$secondary-teal: #BAD9D9;
$secondary-sand: #F2D1B3;

$neutral-offWhite: #DFF2F2;
