.scroll-to-top-button {
  display: flex;
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
  
  &--container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--scroll-img {
    height: 100px;
    width: 91.65px;
  }

  &--arrow-img {
    height: 50px;
    width: 50px;
  }

}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shine {
	100% {
		left: 125%;
	}
}